.posr_w { position: relative; max-width: 1000px; }

.bac_cover { background-size: cover; background-position: center; }

.pro_dec .span_txt { font-size: 36px; display: block; color: #fd282a; text-align: left; }

.pro_dec .p_txt { font-size: 20px; padding-top: 10px; color: #000; margin: 0; display: block; text-align: left; }

.level_a .level_a_bg { padding-top: 90.3%; background-image: url(../images/pc/pc_g_booster1-min.jpg); }

.level_a .level_a_title { position: absolute; top: 24.3632336656%; left: 47.8%; }

.level_a_title h3 { font-size: 48px; color: #fff; font-weight: normal; margin: 0; }

.level_a_title span { font-size: 30px; color: #fff; opacity: 0.83; margin: 0; }

.level_a .level_a_txt { width: 670px; height: 40px; position: absolute; bottom: 15.0776053215%; left: 17.2%; z-index: 2; margin: 0; padding: 0; }

.level_a_txt dd { color: #fff; font-size: 17px; margin: 0; padding: 0; position: absolute; }

.level_a_txt dd.level_a_txt1 { bottom: 0; left: 2.9850746269%; }

.level_a_txt dd.level_a_txt2 { bottom: 0; left: 38.8059701493%; }

.level_a_txt dd.level_a_txt3 { bottom: 0; left: 71.6417910448%; }

.level_b .level_b_bg { padding-top: 43.9%; background-image: url(../images/pc/pc_g_booster2-min.jpg); }

.level_b .level_b_txt { position: absolute; top: 22.7790432802%; left: 4.2%; width: 38.7%; }

.level_c .level_c_bg { padding-top: 70.1%; background-image: url(../images/pc/pc_g_booster3-min.jpg); }

.level_c .level_c_txt { position: absolute; top: 39.0870185449%; right: 7.4%; width: 34%; }

.level_c_txt span.span_txt { text-align: left; }

.level_c_txt span.span_txt em { color: #000; font-style: normal; }

.level_d .level_d_bg { padding-top: 56.2%; background-image: url(../images/pc/pc_g_booster4-min.jpg); }

.level_d .level_d_txt { position: absolute; top: 27.7580071174%; left: 4.2%; width: 28.6%; }

.level_e .level_e_bg { padding-top: 47.8%; background-image: url(../images/pc/pc_g_booster5-min.jpg); }

.level_e .level_e_txt { position: absolute; top: 27.1966527197%; right: 7.4%; width: 34%; }

.level_e_txt em, .level_f_txt em { font-style: normal; color: #fff; display: block; }

.level_e_txt p.p_txt, .level_f_txt p.p_txt { color: #fff; opacity: 0.7; }

.level_f .level_f_bg { padding-top: 46.5%; background-image: url(../images/pc/pc_g_booster6-min.jpg); }

.level_f .level_f_txt { position: absolute; top: 33.5483870968%; left: 4.2%; }

.level_g .level_g_bg { padding-top: 83.2%; background-image: url(../images/pc/pc_g_booster7-min.jpg); }

.level_g_txt dd { color: #333; font-size: 16px; margin: 0; position: absolute; }

.level_g_txt dd.level_g_txt1 { top: 5.5288461538%; left: 12.8%; }

.level_g_txt dd.level_g_txt2 { top: 14.6634615385%; left: 37.6%; }

.level_g_txt dd.level_g_txt3 { bottom: 40.1442307692%; left: 8.8%; }

.level_g_txt dd.level_g_txt4 { bottom: 45.3125%; left: 28.8%; }

.level_g_txt dd.level_g_txt5 { bottom: 35.3365384615%; left: 45.7%; }

.level_g_txt dd.level_g_txt6 { bottom: 37.9807692308%; right: 8.8%; }

.level_g_txt dd.level_g_txt7 { bottom: 22.8365384615%; right: 8.8%; }

.level_g_txt dd.level_g_txt8 { bottom: 9.8557692308%; right: 37.5%; }

@media only screen and (max-width: 640px) { .pro_dec .span_txt { font-size: 0.875rem; font-weight: normal; }
  .pro_dec .p_txt { font-size: 0.75rem; padding-top: 0.25rem; line-height: 0.8125rem; }
  .level_a .level_a_bg { padding-top: 90.3125%; background-image: url(../images/m/m_g_booster1-min.jpg); }
  .level_a .level_a_title { left: 47.8125%; top: 22.8373702422%; }
  .level_a .level_a_title h3 { font-size: 1rem; }
  .level_a .level_a_title span { font-size: 0.875rem; }
  .level_a .level_a_txt { display: none; }
  .level_b .level_b_bg { padding-top: 43.90625%; background-image: url(../images/m/m_g_booster2-min.jpg); }
  .level_b .level_b_txt { top: 16.3701067616%; left: 4.0625%; width: 37.5%; }
  .level_c .level_c_bg { padding-top: 70.15625%; background-image: url(../images/m/m_g_booster3-min.jpg); }
  .level_c .level_c_txt { top: 39.6436525612%; right: 7.5%; width: 34.0625%; }
  .level_d .level_d_bg { padding-top: 56.25%; background-image: url(../images/m/m_g_booster4-min.jpg); }
  .level_d .level_d_txt { top: 27.2222222222%; left: 4.0625%; width: 29.6875%; }
  .level_e .level_e_bg { padding-top: 47.8125%; background-image: url(../images/m/m_g_booster5-min.jpg); }
  .level_e .level_e_txt { top: 39.6436525612%; right: 7.5%; width: 34.0625%; }
  .level_e .level_e_title { top: 58.03357314148681%; }
  .level_f .level_f_bg { padding-top: 46.5625%; background-image: url(../images/m/m_g_booster6-min.jpg); }
  .level_g .level_g_bg { padding-top: 85.9375%; background-image: url(../images/m/m_g_booster7-min.jpg); }
  .level_g .level_g_txt { display: none; } }
